$white: #ffffff;
$black: #17171b;

$gray100: #ffffff;
$gray200: #f6f6f6;
$gray300: #dbdbdb;
$gray400: #b6b6b6;
$gray500: #979797;
$gray600: #545454;
$gray700: #1a1a1a;

$orange100: #fdf2ee;
$orange200: #ed7c55;
$orange300: #fb7547;

$green100: #e6f8ee;
$green200: #59ce8f;

$purple100: #f3f4f9;
$purple200: #edefff;
$purple300: #dadeff;
$purple400: #bcc4ff;
$purple500: #97a3ff;
$purple600: #6a7bff;

$border100: #e7e7e7;
$border200: #dbdbdb;
