$font-font-size: (
  'semibold01': (
    font-size: 24px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold02': (
    font-size: 20px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold03': (
    font-size: 18px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold04': (
    font-size: 16px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold05': (
    font-size: 15px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold06': (
    font-size: 14px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'semibold07': (
    font-size: 12px,
    font-weight: 600,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),

  'medium01': (
    font-size: 18px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'medium02': (
    font-size: 16px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'medium03': (
    font-size: 15px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'medium04': (
    font-size: 14px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'medium05': (
    font-size: 12px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'medium06': (
    font-size: 10px,
    font-weight: 500,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),

  'regular01': (
    font-size: 16px,
    font-weight: 400,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'regular02': (
    font-size: 14px,
    font-weight: 400,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
  'regular03': (
    font-size: 12px,
    font-weight: 400,
    line-height: 130%,
    letter-spacing: -0.4px,
  ),
);

@mixin typography($type) {
  $style: map-get($font-size, $type);
  @if $style {
    font-size: map-get($style, font-size);
    font-weight: map-get($style, font-weight);
    line-height: map-get($style, line-height);
    letter-spacing: map-get($style, letter-spacing);
  } @else {
    @warn "Undefined typography type: #{$type}";
  }
}
